html {
  font-size: 14px;
  color: white;
}

p, h1, h2, h3, span, a, strong {
  font-family: Bahnschrift Light;
  color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn {
  font-family: Bahnschrift Light;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    position: relative;
    margin: 0 !important;
    margin-bottom: 60px;
    min-height: 100vh;
    overflow: auto;
    cursor: url("../assets/cursor.png"), auto;
    display: flex;
    flex-direction: column;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/library.png");
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    z-index: -1;
    cursor: url("../assets/cursor.png"), auto;
}

a {
    cursor: url("../assets/Pointer_openhand.webp"), auto;
}

.uil--books {
    display: inline-block;
    width: 30px;
    height: 30px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m22.47 18.82l-1-3.86l-3.15-11.59a1 1 0 0 0-1.22-.71l-3.87 1a1 1 0 0 0-.73-.33h-10a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-8l2.2 8.22a1 1 0 0 0 1 .74a1.2 1.2 0 0 0 .26 0L21.79 20a1 1 0 0 0 .61-.47a1.05 1.05 0 0 0 .07-.71m-16 .55h-3v-2h3Zm0-4h-3v-6h3Zm0-8h-3v-2h3Zm5 12h-3v-2h3Zm0-4h-3v-6h3Zm0-8h-3v-2h3Zm2.25-1.74l2.9-.78l.52 1.93l-2.9.78Zm2.59 9.66l-1.55-5.8l2.9-.78l1.55 5.8Zm1 3.86l-.52-1.93l2.9-.78l.52 1.93Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.frame {
  backdrop-filter: blur(2px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  padding: 35px;
  display: grid; /* Вмикаємо Grid Layout */
  gap: 1rem; /* Відстань між елементами */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Автоматичне вирівнювання */
}

@media (max-width: 768px) {
  .frame {
    padding: 15px; /* Менший паддінг на мобільних */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Зменшення ширини колонок */
  }
}


li a:hover {
  transform: scale(1.25);
  transition: transform 250ms ease;
}

li {
  font-family: Bahnschrift Light;
}
.book-card {
  margin: 0.5rem;
}

.book-card:hover {
  transform: scale(1.1);
  transition: transform 250ms ease;
}

.no-hover-effect .book-card:hover {
  transform: none;
  transition: none;
}

.book-image {
  cursor: url("../assets/Pointer_openhand.webp"), auto;
  max-width: 150px;
}

.btn:hover {
  cursor: url("../assets/Pointer_openhand.webp"), auto;
}

.action-buttons {
  margin-top: -30px !important;
}

.action-buttons button {
  background-color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
  transition: transform 0.2s ease-in-out;
  opacity: 0.8;
  border: 1px solid white;
}

.action-buttons button:hover {
  transform: scale(1.1);
}

.action-buttons i {
  font-size: 1rem;
  color: white;
}

.book-image-details {
  width: 80%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
}