@model BookLibrary.Models.Book

<div class="book-card">
    <img src="../assets/Images/@(Model.Image)" class="card-img-top img-fluid mx-auto book-image" alt="...">
    <div class="card-body">
      <p style="color:white; white-space: wrap; font-size: 1rem;">@Model.Title</p>
    </div>
</div>
