@model BookLibrary.Models.Book

<div style="margin: 0.5rem">
    <img src="../assets/Images/@(Model.Image)" class="card-img-top img-fluid mx-auto" style="max-width: 150px;" alt="...">
    <div class="card-body">
      <p style="color:white; white-space: wrap; font-size: 1rem;">@Model.Title</p>
    </div>
</div>
